// Modify the exercise 3 code about functions using the parent selector `&` for nested classes. Style the `h2` that will have the same rules of `h1`, and an additional 1rem padding and a red border. In order to style the `h1` and `h2` use the extend method.

// **Suggestion:**

// %text {
// ...
// }

// .h1-class {
// @extend %text;
// }

@use "./dist/vars.scss";
@use "./dist/convert_fun.scss" as f;

@mixin article-props(
  $index,
  $color,
  $border_color,
  $font_size: f.cvrt_px(vars.$regular-padding)
) {
  article:nth-child(#{$index}) {
    width: 100%;
    padding: f.cvrt_px(vars.$regular-padding);
    border: f.cvrt_px(vars.$regular-border-w) solid $border_color;
    text-align: center;
    color: $color;
    font-size: $font_size;
  }
}

body {
  .container {
    padding: f.cvrt_px(vars.$regular-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: f.cvrt_px(vars.$regular-border-w) solid vars.$color-primary;
    gap: f.cvrt_px(vars.$regular-padding);

    &__h1 {
      color: vars.$color-tertiary;
      text-decoration: f.cvrt_px(vars.$regular-border-w) underline
        vars.$color-secondary;
    }

    &__h2 {
      // Can't use the parent selector in @extend
      @extend .container__h1;
      padding: f.cvrt_px(vars.$regular-padding);
      text-decoration: none;
      border: f.cvrt_px(vars.$regular-border-w) solid vars.$color-primary;
    }

    section:nth-of-type(1) {
      display: flex;
      @include article-props(
        $index: 1,
        $color: vars.$color-primary,
        $border_color: vars.$color-tertiary
      );

      @include article-props(
        $index: 2,
        $color: vars.$color-secondary,
        $border_color: vars.$color-tertiary
      );

      @include article-props(
        $index: 3,
        $color: vars.$color-primary,
        $border_color: vars.$color-tertiary
      );

      @include article-props(
        $index: 4,
        $color: vars.$color-secondary,
        $border_color: vars.$color-tertiary
      );
    }

    section:nth-of-type(2) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include article-props(
        $index: 1,
        $color: vars.$color-tertiary,
        $border_color: vars.$color-secondary,
        $font_size: f.cvrt_px(vars.$footer-defualt-font)
      );
    }
  }
}
